{% include 'LS_5906464808_global' %}
<!-- /snippets/tags-article.liquid -->
{% if article.tags.size > 0 %}
  <li>
    <span class="tags__title">{% include 'LS_5906464808_locales', LS_locales_item: 'blogs.article.tags',   %}{% if LS_5906464808_locales_value == '' %}{{ 'blogs.article.tags' | t }}{% else %}{{ LS_5906464808_locales_value  }}{% endif %}:</span>
    {% for tag in article.tags %}
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="text-link">{% include 'LS_5906464808_article_tags', search_tag: tag , LS_article: article %}{{ LS_5906464808_tag_item  }}</a>
    {% endfor %}
  </li>
{% endif %}
