{% include 'LS_5906464808_global' %}
<!-- /templates/customers/activate_account.liquid -->

<div class="grid">
  <div class="grid__item large--one-third push--large--one-third text-center">

    <header class="section-header">
      <h1>{% include 'LS_5906464808_locales', LS_locales_item: 'customer.activate_account.title',   %}{% if LS_5906464808_locales_value == '' %}{{ 'customer.activate_account.title' | t }}{% else %}{{ LS_5906464808_locales_value  }}{% endif %}</h1>
      <p>{% include 'LS_5906464808_locales', LS_locales_item: 'customer.activate_account.subtext',   %}{% if LS_5906464808_locales_value == '' %}{{ 'customer.activate_account.subtext' | t }}{% else %}{{ LS_5906464808_locales_value  }}{% endif %}</p>
      <hr class="hr--small">
    </header>

    {% comment %}
      This form must use 'activate_customer_password'
    {% endcomment %}
    <div class="form-vertical">
      {% form 'activate_customer_password' %}

        {{ form.errors | default_errors }}

        <label for="CustomerPassword" class="hidden-label">{% include 'LS_5906464808_locales', LS_locales_item: 'customer.activate_account.password',   %}{% if LS_5906464808_locales_value == '' %}{{ 'customer.activate_account.password' | t }}{% else %}{{ LS_5906464808_locales_value  }}{% endif %}</label>
        <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full" placeholder="{% include 'LS_5906464808_locales', LS_locales_item: 'customer.activate_account.password',   %}{% if LS_5906464808_locales_value == '' %}{{ 'customer.activate_account.password' | t }}{% else %}{{ LS_5906464808_locales_value  }}{% endif %}">

        <label for="CustomerPasswordConfirmation" class="hidden-label">{% include 'LS_5906464808_locales', LS_locales_item: 'customer.activate_account.password_confirm',   %}{% if LS_5906464808_locales_value == '' %}{{ 'customer.activate_account.password_confirm' | t }}{% else %}{{ LS_5906464808_locales_value  }}{% endif %}</label>
        <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" class="input-full" placeholder="{% include 'LS_5906464808_locales', LS_locales_item: 'customer.activate_account.password_confirm',   %}{% if LS_5906464808_locales_value == '' %}{{ 'customer.activate_account.password_confirm' | t }}{% else %}{{ LS_5906464808_locales_value  }}{% endif %}">

        <input type="submit" class="btn btn--full" value="{% include 'LS_5906464808_locales', LS_locales_item: 'customer.activate_account.submit',   %}{% if LS_5906464808_locales_value == '' %}{{ 'customer.activate_account.submit' | t }}{% else %}{{ LS_5906464808_locales_value  }}{% endif %}">
        <input type="submit" class="btn--secondary btn--full" name="decline" value="{% include 'LS_5906464808_locales', LS_locales_item: 'customer.activate_account.cancel',   %}{% if LS_5906464808_locales_value == '' %}{{ 'customer.activate_account.cancel' | t }}{% else %}{{ LS_5906464808_locales_value  }}{% endif %}">
      <input type='hidden' name='customer[tags]' value='ls~{% if cart.attributes.LS_language %}{{ cart.attributes.LS_language }}{% else %}{{ shop.metafields.langshop['lang_default'] }}{% endif %}ls~'/> 
 {% endform %}
    </div>

  </div>
</div>
