{% include 'LS_5906464808_global' %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html class="modern supports-fontface" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8">
    {% capture LS_SEO_TITLE %}
 <title>
      {{ shop.name }}
    </title> 
{% endcapture %}
{% capture LS_SEO_TRANSLATED %}
{% include 'LS_5906464808_seo_title', theme_default_title: LS_SEO_TITLE %}
{% include 'LS_5906464808_seo_global' %}
{% include 'LS_5906464808_seo_ogimage' %}
{% include 'LS_5906464808_seo_keywords' %}
{% include 'LS_5906464808_seo_description' %}
{% endcapture %}{{ LS_SEO_TRANSLATED | strip | strip_newlines | remove: '	' | remove: '   ' }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    {% capture LS_locales_settings_key %}favicon{% endcapture %}{% include 'LS_5906464808_settings', LS_settings_item: LS_locales_settings_key %}
{%  if settings.favicon  or LS_5906464808_settings_value != blank %}
      <link rel="shortcut icon" href="{% capture LS_locales_settings_key %}favicon{% endcapture %}{% include 'LS_5906464808_settings', LS_settings_item: LS_locales_settings_key %}{% if LS_5906464808_settings_value == blank %}{{ settings.favicon | img_url: '32x32' }}{% else %}{{ LS_5906464808_settings_value  }}{% endif %}" type="image/png" />
    {% endif %}

    {% include 'social-meta-tags' %}

    <!-- CSS ================================================== -->
    {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {% include 'google-fonts' %}

    {{ content_for_header }}
    {% include 'oldIE-js' %}

    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

    <!-- JS ================================================== -->
    {{ 'modernizr.min.js' | asset_url | script_tag }}
    <script>
      window.password = window.password || {};

      var password = {
        strings: {
          pageClose: {% include 'LS_5906464808_locales', LS_locales_item: 'general.password_page.close',   %}{% if LS_5906464808_locales_value == '' %}{{ 'general.password_page.close' | t | json }}{% else %}{{ LS_5906464808_locales_value | json  }}{% endif %}
        }
      }

      window.theme = window.theme || {};
      theme.strings = {
        addressError: {% include 'LS_5906464808_locales', LS_locales_item: 'home_page.map.address_error',   %}{% if LS_5906464808_locales_value == '' %}{{ 'home_page.map.address_error' | t | json }}{% else %}{{ LS_5906464808_locales_value | json  }}{% endif %},
        addressNoResults: {% include 'LS_5906464808_locales', LS_locales_item: 'home_page.map.address_no_results',   %}{% if LS_5906464808_locales_value == '' %}{{ 'home_page.map.address_no_results' | t | json }}{% else %}{{ LS_5906464808_locales_value | json  }}{% endif %},
        addressQueryLimit: {% include 'LS_5906464808_locales', LS_locales_item: 'home_page.map.address_query_limit_html',   %}{% if LS_5906464808_locales_value == '' %}{{ 'home_page.map.address_query_limit_html' | t | json }}{% else %}{{ LS_5906464808_locales_value | json  }}{% endif %},
        authError: {% include 'LS_5906464808_locales', LS_locales_item: 'home_page.map.auth_error_html',   %}{% if LS_5906464808_locales_value == '' %}{{ 'home_page.map.auth_error_html' | t | json }}{% else %}{{ LS_5906464808_locales_value | json  }}{% endif %}
      };
      theme.settings = {
        cartType: {% capture LS_locales_settings_key %}cart_type{% endcapture %}{% include 'LS_5906464808_settings', LS_settings_item: LS_locales_settings_key %}{% if LS_5906464808_settings_value == blank %}{{ settings.cart_type | json }}{% else %}{{ LS_5906464808_settings_value | json  }}{% endif %}
      };
    </script>

    {{ 'jquery-2.2.3.min.js' | asset_url | script_tag }}

    {% include 'qikify-navigator' %}
  {{ 'qikify-smartmenu-data.js' | asset_url | script_tag }}
  <script type="text/javascript" src="{{ 'qikify-smartmenu-v3.min.js?shop=' | append: shop.permanent_domain | asset_url }}" defer="defer"></script>
    </head>

  <body class="template-password">

    <div class="password-page__wrapper">
      {{ content_for_layout }}

      <footer class="password-page__footer" role="contentinfo">
        <div class="password-page__footer_inner">
          {% capture shopify %}
          <a class="shopify-link" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
            {% include 'svg-definitions' with 'shopify-logo' %}
            <span class="shopify-name">Shopify</span>
          </a>
          {% endcapture %}
          {% include 'LS_5906464808_locales', LS_locales_item: 'general.password_page.powered_by_shopify_html',  shopify: shopify  %}{% if LS_5906464808_locales_value == '' %}{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}{% else %}{{ LS_5906464808_locales_value  }}{% endif %}
        </div>
      </footer>
    </div>

    <div id="LoginModal" class="password-page__login-form text-center mfp-hide">
      <p class="h4">{% include 'LS_5906464808_locales', LS_locales_item: 'general.password_page.login_form_heading',   %}{% if LS_5906464808_locales_value == '' %}{{ 'general.password_page.login_form_heading' | t }}{% else %}{{ LS_5906464808_locales_value  }}{% endif %}</p>
      {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <label for="password" class="hidden-label">{% include 'LS_5906464808_locales', LS_locales_item: 'general.password_page.login_form_password_label',   %}{% if LS_5906464808_locales_value == '' %}{{ 'general.password_page.login_form_password_label' | t }}{% else %}{{ LS_5906464808_locales_value  }}{% endif %}</label>
      <div class="input-group">
        <input type="password" name="password" id="password" class="input-group-field" placeholder="{% include 'LS_5906464808_locales', LS_locales_item: 'general.password_page.login_form_password_placeholder',   %}{% if LS_5906464808_locales_value == '' %}{{ 'general.password_page.login_form_password_placeholder' | t }}{% else %}{{ LS_5906464808_locales_value  }}{% endif %}" autofocus>
        <span class="input-group-btn">
          <input type="submit" class="btn password-page__login-form__submit" value="{% include 'LS_5906464808_locales', LS_locales_item: 'general.password_page.login_form_submit',   %}{% if LS_5906464808_locales_value == '' %}{{ 'general.password_page.login_form_submit' | t }}{% else %}{{ LS_5906464808_locales_value  }}{% endif %}">
        </span>
      </div>
      {% endform %}
      <p class="admin-login">{% include 'LS_5906464808_locales', LS_locales_item: 'general.password_page.admin_link_html',   %}{% if LS_5906464808_locales_value == '' %}{{ 'general.password_page.admin_link_html' | t }}{% else %}{{ LS_5906464808_locales_value  }}{% endif %}</p>
    </div>

  </body>
</html>
