{% include 'LS_5906464808_global' %}
<style>
  .password-page__logo .logo {
    width: {% capture LS_locales_settings_key %}{{ section.id }}.logo_max_width{% endcapture %}{% include 'LS_5906464808_settings', LS_settings_item: LS_locales_settings_key %}{% if LS_5906464808_settings_value == blank %}{{ section.settings.logo_max_width | escape }}{% else %}{{ LS_5906464808_settings_value | escape  }}{% endif %}px;
  }
</style>

<header class="password-page__header" role="banner"  data-section-id="{{ section.id }}" data-section-type="password-header">
  <div class="password-page__header__inner">
    {% comment %}
      Link to password modal
    {% endcomment %}
    <p class="password-login text-right small--text-center">
      <a href="#LoginModal" class="js-toggle-login-modal" data-mfp-src="#LoginModal">
        {% include 'svg-definitions' with 'lock-icon' %}
        {% include 'LS_5906464808_locales', LS_locales_item: 'general.password_page.password_link',   %}{% if LS_5906464808_locales_value == '' %}{{ 'general.password_page.password_link' | t }}{% else %}{{ LS_5906464808_locales_value  }}{% endif %}
      </a>
    </p>

    {% comment %}
      Site name or logo
    {% endcomment %}
    <div class="password-page__logo">
      <h1 class="h2" itemscope itemtype="http://schema.org/Organization">
      {% capture LS_locales_settings_key %}{{ section.id }}.logo_max_width{% endcapture %}{% include 'LS_5906464808_settings', LS_settings_item: LS_locales_settings_key %}{% if LS_5906464808_settings_value == blank %}{% assign logo_width = section.settings.logo_max_width | times: 1 %}{% else %}{% assign logo_width = LS_5906464808_settings_value | times: 1  %}{% endif %}
      {% if section.settings.logo != blank and logo_width <= 2048 %}
        {% capture image_size %}{% capture LS_locales_settings_key %}{{ section.id }}.logo_max_width{% endcapture %}{% include 'LS_5906464808_settings', LS_settings_item: LS_locales_settings_key %}{% if LS_5906464808_settings_value == blank %}{{ section.settings.logo_max_width | escape }}{% else %}{{ LS_5906464808_settings_value | escape  }}{% endif %}x{% endcapture %}
        <img class="logo" src="{% capture LS_locales_settings_key %}{{ section.id }}.logo{% endcapture %}{% include 'LS_5906464808_settings', LS_settings_item: LS_locales_settings_key %}{% if LS_5906464808_settings_value == blank %}{{ section.settings.logo | img_url: image_size }}{% else %}{{ LS_5906464808_settings_value  }}{% endif %}" alt="{{ shop.name }}" itemprop="logo">
      {% else %}
        <span>{{ shop.name }}</span>
      {% endif %}
      </h1>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "class": "password-header-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels, max 2048)",
        "default": "200"
      }
    ]
  }
{% endschema %}
