
<div class="container-fluid container-half-text ">
    <div class="row">
        <div class="blog-section-heading">
            #Madefromstrenth
        </div>
    </div>
    

    <div class="row row-half-text" >
    
        <div class="col-sm-12 col-md-6 col-lg-6 left-col" style="background:url('{{ section.settings.main_image | img_url: 'master' }}')" >
             <div class="first-half-text-container  text-container">
                  <h5>{{ articles[section.settings.article_id].author }}</h5>                
                   <div class="mega-title">{{ articles[section.settings.article_id].title }} </div>
                    <span>{{ articles[section.settings.article_id].content }}</span><br>
                    <a href="{{ articles[section.settings.article_id].url }}" class="btn hero__btn"> Read More </a>
             </div>
             
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 ml-auto">
              <div class="second-half-text-container text-container">
                 <h5>{{ articles[section.settings.article_id2].author }}</h5>                
                   <div class="mega-title">{{ articles[section.settings.article_id2].title }} </div>
                    <span>{{ articles[section.settings.article_id2].content }}</span><br>
                    <a href="{{ articles[section.settings.article_id2].url }}" class="btn hero__btn"> Read More </a>                 
             </div>
              
        </div>       
    </div>
</div>


{% schema %} 
{
  "name": " Two part Blog section",
  "settings":[
          {
            "id":"main_image",
            "type":"image_picker",
            "label":" Main image"
          },          
          {
            "id":"article_id",
            "type":"article",
            "label":"article"
          },
          {
            "id":"article_id2",
            "type":"article",
            "label":"article"
          }      
         ],
  "presets": [{
      "name": "Two part Text",
      "category": "Collection"
      
    }]
}
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}

{% endjavascript %}
<script>
function truncateText(selector, maxLength) {
    var element = document.querySelector(selector),
        truncated = element.innerText;

    if (truncated.length > maxLength) {
        truncated = truncated.substr(0,maxLength) + '...';
    }
    return truncated;
}
//You can then call the function with something like what i have below.
document.querySelector('.first-half-text-container span').innerText = truncateText('.first-half-text-container span p', 100);
document.querySelector('.second-half-text-container span').innerText = truncateText('.second-half-text-container span p', 100);

</script>